(common) {
  log {
    level INFO
    output file {$CADDY_LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }

  tls {$CADDY_EMAIL}

  header {
    X-Content-Type-Options nosniff
    Referrer-Policy  strict-origin-when-cross-origin
    Strict-Transport-Security "max-age=63072000; includeSubDomains;"
    Permissions-Policy "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()"
    X-Frame-Options SAMEORIGIN
    X-XSS-Protection 1
    X-Robots-Tag none
    -server
  }
}

{$CADDY_DOMAIN} {
	import common

	encode gzip

  reverse_proxy /game server-http:4000
  reverse_proxy /user server-http:4000

	reverse_proxy / server-socketio:4001
}
